.mgT0 {
  margin-top: 0;
}

.mgT15 {
  margin-top: 15px;
}

.mgB0 {
  margin-bottom: 0;
}

.mgB15 {
  margin-bottom: 15px;
}

.pdL00 {
  padding-left: 0;
}

#ext-container {
  width: 320px;
  min-height: 320px;
  padding-bottom: 15px;
  background: #F7F7F7;
}

#logo-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

p.copy-right {
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}
