.ng-valid:not(form).ng-dirty {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-dirty {
  border-left: 5px solid #a94442; /* red */
}

.btn-login {
  width: 100%
}

//:host {
//  position: relative !important;
//  bottom: 10%;
//}
